.header {

    margin: 92px auto;
    width: 1052px;

}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 33px;
   
}

.flex-head {
    width: 71%;
    gap: 45px;
    display: flex;
    align-items: center;

}



.link-list {
    padding-left: 5px;
    display: flex;
    gap: 34px;

}



.link-list-item {
    list-style: circle;
    border-bottom: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 21.13px;
    font-weight: 400;
}

.no-border-bottom {
    border-bottom: none;
    list-style: none;
}



/* ---logo----------- */


.header__logo {
    width: 133px;
}

.header__logo-image {
    width: 100%;
}




/*------------ adress--------------- */

.header__adress-padding {
    padding-right: 10px;
}

.adress-list {
    padding-left: 6px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 24.3px;
}

.adress-list-item {
    border-bottom: 1px solid black;
}


/* -----main------------ */

.cover {
    position: relative;
    min-height: 757px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 179px;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.6;

}

.cover__title {
    padding-top: 165px;

    position: relative;
    z-index: 1;
}

.title-style {
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
}

.aligned-text {
    letter-spacing: 33px;
    padding-left: 50px;
    display: block;
}


.letter-start {
    letter-spacing: 57px;
}


.aligned-text_center {
    letter-spacing: 30px;
    text-align: center;
    padding-top: 14px;
    display: block;
}

.letter-center {
    letter-spacing: 60px;
    padding-left: 30px;
}



.aligned-text_right {
    letter-spacing: 37px;
    text-align: right;
    display: block;
}

.letter-right {
    letter-spacing: 60px;
}



/* ---------subtitle and button */

.cover__description {
    position: relative;
    z-index: 1;
    gap: 22px;
    padding-top: 133px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cover__description-text {
    padding-left: 23px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    line-height: 28px;
    word-spacing: 19px;
    text-transform: uppercase;
}


.bet-button {
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
}

.button {
    padding: 12px 31px;
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}


/* --------lots--------------------- */

.lots {
    width: 1052px;
    margin: 0 auto;

}

.lots__heading {
    padding-left: 40px;
    padding-bottom: 27px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    text-align: left;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    gap: 25px;
    max-width: 1052px;
    height: 100%;
    flex-wrap: wrap;
}

.lots__card-list-item {
    position: relative;
    flex-basis: 334px;
    height: 100%;
    background-image: url("../images/card-lot-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.background-image-lion {
    background-image: url("../images/card-lot-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.background-image-abstraction {
    background-image: url("../images/card-lot-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.card-text {
    position: relative;
    padding-top: 51px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 1;
    min-width: 260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-text-title {
    color: rgb(255, 255, 255);
    font-size: 26.4px;
    font-weight: 700;
    line-height: 26.4px;
    /* line-height: 120%; */
    text-decoration-line: underline;
    text-transform: uppercase;
}

.promo-padding-top {
    padding-top: 242px;
}

.promo-padding-top-min {
    padding-top: 95px;
}

.card-text-promo {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
}

.lots__footer-activ {
    border-bottom: 1px solid black;
    display: inline-block;
    padding-top: 30px;
    margin-left: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    
}

/* -----about------------------ */


.about {
    margin-top: 146px;
}

.about__column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 280px 315px;
    
}

.about__logo {
    padding-top: 35px;
    padding-left: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    align-items: start;
    justify-content: center;
}

.about__logo-image {
    width: 140px;
}

.about__logo__black {

    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}



.about__title {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    align-items: center;


}

.about__title-style {
    padding-left: 17px;
    padding-top: 38px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 15px;
    padding-top: 3px;
}

.about__text__antiques {
    max-width: 688px;
}


.about__text__lots {
    max-width: 688px;
}


.style {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;

}


/* --------footer----------- */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 180px;
    padding-left:47px;
    padding-right:46px;
    padding-bottom: 80px;
}


.footer__menu {
    padding-left: 35px;
    padding-bottom: 40px;
}

.footer__menu-list {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}

.menu-list-item {
    border-bottom: 1px solid black;
}


.social-item {
    display: flex;
    gap: 48px;
}

.foter__img {
    width: 48px;
}